In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("r20midseating.csv")

In [8]:
new_df = df[['ID No' ,'Branch', 'Section']]
new_df.columns = ['ID' , "b" , "SECTION"]

In [7]:
the_data = pd.read_csv("the_data.csv")
the_data

,Unnamed: 0,ID,NAME,GENDER,CET HT NO.,STREAM,Class(p1),CASTE,Class(p2),DOB,...,BLOOD GROUP,Parent,ADDRESS,e1sem1,e1sem2,e2sem1,e2sem2,BRANCH.1,CGPA,Image
0,0,R200001,POSA VENKATA SIVA SHANKAR,MALE,2111020143,M.P.C,G004,BC-B,Class-12 (S017-AB1),10/06/2003,...,NaN,9704703989,"5/799-4,devangapeta,proddatur,kadapa.",7.73,8.36,8.93,7.31,CSE,8.082,https://raw.githubusercontent.com/pythonista69...
1,1,R200002,NANDINENI HARSHAVARDHAN,MALE,2212027156,M.P.C,G004,OC,Class-9 (S010-AB1),09/04/2004,...,NaN,9440376164,"31/1097/4, teachers colony kothapeta , dharmav...",8.75,9.73,9.16,9.69,CSE,9.332,https://raw.githubusercontent.com/pythonista69...
2,2,R200003,GAJULA HARSHITH,MALE,2715001069,M.P.C,G005,BC-B,Class-13 (S018-AB1),13/05/2004,...,a+,9490782671,"h.no 7&2-40/8/1, subhash nagar,sircilla, rajan...",8.55,8.13,8.72,8.69,CSE,8.522,https://raw.githubusercontent.com/pythonista69...
3,3,R200004,KONANGI LAKSHMI NARASIMHA,MALE,2010015101,M.P.C,G004,BC-A,Class-9 (S010-AB1),10/07/2004,...,NaN,7995163471,madanapalle annamayya dis,8.95,8.49,8.72,8.69,CSE,8.712,https://raw.githubusercontent.com/pythonista69...
4,4,R200005,ELUGOTI HARSHA VARDHAN,MALE,2212026173,M.P.C,G006,BC-B,Class-14 (S019-AB1),09/09/2004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GONE,NaN,https://raw.githubusercontent.com/pythonista69...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089,1089,R201107,NANDYALA SANDHYA,FEMALE,2111020018,M.P.C,G008,BC-D,Class-3(F011-AB1),27/06/2005,...,NaN,9441968462,"15/1168-3 modampalli,proddatur",6.41,6.19,7.00,6.78,EEE,6.595,https://raw.githubusercontent.com/pythonista69...
1090,1090,R201108,MANDI SAI JASHWANTH,MALE,2010001065,M.P.C,G011,BC-D,Class-13 (S018-AB1),31/07/2004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GONE,NaN,https://raw.githubusercontent.com/pythonista69...
1091,1091,R201109,KOMARALA RUPESH,MALE,2111018166,M.P.C,G012,BC-A,Class-11 (S016-AB1),16/05/2005,...,a+,8897296530,thimmayapalem,4.47,1.88,2.43,2.41,CIVIL,2.798,https://raw.githubusercontent.com/pythonista69...
1092,1092,R201110,P VIJAY LAXMI,FEMALE,2111064055,M.P.C,G008,OC,Class-4(F013-AB1),11/08/2004,...,NaN,8411021899,"peddacheppalli, kamlapuram, kadapa",6.88,6.09,7.53,8.77,CSE,7.318,https://raw.githubusercontent.com/pythonista69...
1093,1093,R201111,ABHINAY D,MALE,2212026064,M.P.C,G008,OC,Class-13 (S018-AB1),10/03/2004,...,NaN,9008955854,#42 13th a cross pragathi nagar bangalore,6.41,4.87,5.96,6.13,ECE,5.842,https://raw.githubusercontent.com/pythonista69...

In [10]:
the_data = the_data.merge(new_df[['ID' , 'SECTION']] , on="ID")

In [11]:
the_data

,Unnamed: 0,ID,NAME,GENDER,CET HT NO.,STREAM,Class(p1),CASTE,Class(p2),DOB,...,Parent,ADDRESS,e1sem1,e1sem2,e2sem1,e2sem2,BRANCH.1,CGPA,Image,SECTION
0,0,R200001,POSA VENKATA SIVA SHANKAR,MALE,2111020143,M.P.C,G004,BC-B,Class-12 (S017-AB1),10/06/2003,...,9704703989,"5/799-4,devangapeta,proddatur,kadapa.",7.73,8.36,8.93,7.31,CSE,8.082,https://raw.githubusercontent.com/pythonista69...,A
1,1,R200002,NANDINENI HARSHAVARDHAN,MALE,2212027156,M.P.C,G004,OC,Class-9 (S010-AB1),09/04/2004,...,9440376164,"31/1097/4, teachers colony kothapeta , dharmav...",8.75,9.73,9.16,9.69,CSE,9.332,https://raw.githubusercontent.com/pythonista69...,A
2,2,R200003,GAJULA HARSHITH,MALE,2715001069,M.P.C,G005,BC-B,Class-13 (S018-AB1),13/05/2004,...,9490782671,"h.no 7&2-40/8/1, subhash nagar,sircilla, rajan...",8.55,8.13,8.72,8.69,CSE,8.522,https://raw.githubusercontent.com/pythonista69...,D
3,3,R200004,KONANGI LAKSHMI NARASIMHA,MALE,2010015101,M.P.C,G004,BC-A,Class-9 (S010-AB1),10/07/2004,...,7995163471,madanapalle annamayya dis,8.95,8.49,8.72,8.69,CSE,8.712,https://raw.githubusercontent.com/pythonista69...,E
4,5,R200006,GANGI HARITHA SPOORTHI,FEMALE,2212009001,M.P.C,F004,OC,Class-6(F015-AB1),24/10/2005,...,9490742093,5/163 kotaveedhi narpala,8.83,8.87,9.33,8.92,CSE,8.988,https://raw.githubusercontent.com/pythonista69...,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,1087,R201104,SHAIK MUSSHARA,FEMALE,1909001034,M.P.C,G006,BC-E,Class-4(F013-AB1),28/03/2005,...,9441189732,"nellore(dis),udayagiri (mand), udayagiri (vil)",6.92,6.43,6.86,6.54,CIVIL,6.688,https://raw.githubusercontent.com/pythonista69...,A
579,1088,R201106,SHAIK KHADARVALI,MALE,1808047011,M.P.C,G008,BC-E,Class-9 (S010-AB1),17/08/2005,...,9951423167,"shaik khadarvali, prakasham(dt),komarolu(madl)...",8.25,8.13,8.64,7.48,CIVIL,8.125,https://raw.githubusercontent.com/pythonista69...,A
580,1089,R201107,NANDYALA SANDHYA,FEMALE,2111020018,M.P.C,G008,BC-D,Class-3(F011-AB1),27/06/2005,...,9441968462,"15/1168-3 modampalli,proddatur",6.41,6.19,7.00,6.78,EEE,6.595,https://raw.githubusercontent.com/pythonista69...,A
581,1091,R201109,KOMARALA RUPESH,MALE,2111018166,M.P.C,G012,BC-A,Class-11 (S016-AB1),16/05/2005,...,8897296530,thimmayapalem,4.47,1.88,2.43,2.41,CIVIL,2.798,https://raw.githubusercontent.com/pythonista69...,A
582,1092,R201110,P VIJAY LAXMI,FEMALE,2111064055,M.P.C,G008,OC,Class-4(F013-AB1),11/08/2004,...,8411021899,"peddacheppalli, kamlapuram, kadapa",6.88,6.09,7.53,8.77,CSE,7.318,https://raw.githubusercontent.com/pythonista69...,B

In [12]:
the_data = the_data[['ID', 'NAME', 'BRANCH.1','SECTION'] + [col for col in the_data.columns if col not in ['ID', 'NAME', 'BRANCH.1','SECTION'] ]]

In [20]:
the_data= the_data.drop("Unnamed: 0",axis=1)

In [21]:
the_data.columns

Index(['ID', 'NAME', 'BRANCH.1', 'SECTION', 'GENDER', 'CET HT NO.', 'STREAM',
       'Class(p1)', 'CASTE', 'Class(p2)', 'DOB', 'BRANCH', 'FATHER', 'MANDAL',
       'DISTRICT', 'SCHOOL', 'PHONE2', 'SSC', 'SSC BOARD', 'PHONE', 'MOTHER',
       'BLOOD GROUP', 'Parent', 'ADDRESS', 'e1sem1', 'e1sem2', 'e2sem1',
       'e2sem2', 'CGPA', 'Image'],
      dtype='object')

In [25]:
the_data.rename({
    "BRANCH.1" : "BRANCH",
    "CET HT NO." : "CET_HT_NO",
    'BLOOD GROUP' : "BLOOD",
    "Parent" : "PARENT",
    "e1sem2" : "E1SEM2",
    "e1sem1" : "E1SEM1",
    "e2sem2" : "E2SEM2",
    "e2sem1" : "E2SEM1"
} , axis=1 , inplace=1)

In [26]:
the_data.to_csv("the_data.csv")